:host {
  display: block;
  font-family: var(--pg-font-family, system-ui);
}

label {
  display: flex;
  flex-direction: column;
}

[part=label] {
  position: relative;
  display: flex;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-right: 1.125rem;
  color: rgba(255, 255, 255, 0.8);
  justify-content: right;
}

[part=label]::after {
  position: absolute;
  content: ' ';
  width: 0.25rem;
  height: 0.25rem;
  transform: rotate(45deg);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-top-right-radius: 0.125rem;
  right: 0.5rem;
  top: 0.4rem;
}
