:host {
  display: flex;
}

[part=input] {
  border: 0;
  border-top-left-radius: var(--pg-node-input-text-border-top-left-radius, 0.125rem);
  border-top-right-radius: var(--pg-node-input-text-border-top-right-radius, 0.125rem);
  border-bottom-left-radius: var(--pg-node-input-text-border-bottom-left-radius, 0.125rem);
  border-bottom-right-radius: var(--pg-node-input-text-border-bottom-right-radius, 0.125rem);
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.25rem;
  padding-block-start: 0;
  padding-block-end: 0;
  font-family: var(--pg-input-text-font-family, var(--pg-font-family));
  font-size: 0.75rem;
  line-height: 1rem;
  outline: none;
  field-sizing: content;
  min-width: calc(
    100%
    - var(--pg-input-text-padding-inline-start, var(--pg-input-text-padding-inline, 0.25rem))
    - var(--pg-input-text-padding-inline-end, var(--pg-input-text-padding-inline, 0.25rem))
  );
  background-color: #2B2B2B;
  color: #FFF;
  outline: 1px solid #444;
}

[part=input]:read-only {
  border-color: transparent;
}

[part=input]:active {
  outline-color: rgb(79, 143, 249, 0.75);
}

[part=input]:focus {
  outline-color: rgb(79, 143, 249, 0.75);
  z-index: 1;
}

.hide {
  display: none;
}

[part=remove] {
  background: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.5);
  margin-left: -1rem;
  padding: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}
[part=remove]:hover {
  color: rgba(255, 255, 255, 0.8);
}