:host {
  display: contents;
}

[part=label] {
  outline: none;
  display: flex;
  align-items: center;
  font-family: var(--pg-font-family, system-ui);
  text-align: var(--pg-popover-autocomplete-item-text-align, left);
  background-color: var(--pg-popover-autocomplete-item-background, transparent);
  padding: var(--pg-popover-autocomplete-item-padding, 0.125rem 0.25rem);
  border-color: transparent;
  border-width: 0;
  border-style: solid;
  color: var(--pg-popover-autocomplete-item-color, #453C4F);
  width: 100%;
  cursor: pointer;
}

:host(:first-child) [part=label] {
  border-top-left-radius: var(--pg-popover-autocomplete-item-border-radius, 0.125rem);
  border-top-right-radius: var(--pg-popover-autocomplete-item-border-radius, 0.125rem);
}

:host(:last-child) [part=label] {
  border-top-left-radius: var(--pg-popover-autocomplete-item-border-radius, 0.125rem);
  border-top-right-radius: var(--pg-popover-autocomplete-item-border-radius, 0.125rem);
}

[part=label]:not(:disabled):not(.focus):hover {
  background: var(--pg-popover-autocomplete-hover-background-color, rgba(79, 143, 249, 0.1));
}

[part=label]:not(:disabled):active {
  background-color: var(--pg-popover-autocomplete-item-active-background, #5f516e);
  color: #FFFFFF;
}

[part=label]:disabled {
  color: var(--pg-popover-autocomplete-item-disabled-color, rgba(69, 60, 79, 0.75));
  cursor: default;
}

[part=label]:focus-visible {
  position: relative;
}

[part=label]:focus-visible::after {
  pointer-events: none;
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: var(--pg-popover-autocomplete-item-border-radius, 0.25rem);
  box-shadow: 0 0 0 3px var(--pg-focus-color, rgba(79, 143, 249, 0.5));
}

[part=label].focus:not(:hover) {
  background-color: var(--pg-focus-background-color, #453C4F);
  color: #FFFFFF;
}
