
[part="button"] {
  position: relative;
  display: flex;
  line-height: calc(2.5rem - 0.5px);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 0;
  border-left: 1px solid transparent;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0 0.75rem;
  text-decoration: none;
  color: var(--pg-tab-border, #453C4F);
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}

[part="button"].selected {
  border-color: var(--pg-tab-border, #453C4F);
  font-weight: bold;
  background: #fff;
  cursor: default;
  height: calc(2.5rem + 0.5px);
}

[part="button"]:not(.selected):hover {
  border-color: var(--pg-tab-border, #453C4F);
}

[part="button"].selected:focus-visible {
  color: #197BE0;
  border-color: rgb(79, 143, 249);
}

[part="button"]:not(.selected):focus-visible {
  background: var(--pg-focus-color, rgb(79, 143, 249, 0.15));
  border-color: rgb(79, 143, 249);
  color: #197BE0;
}