:host {
  display: inline-flex;
}

[part=button] {
  display: flex;
  align-items: center;
  align-content: center;
  font-family: var(--pg-font-family, system-ui);
  font-size: var(--pg-button-font-size, 1rem);
  line-height: var(--pg-button-line-height, 1.5rem);
  border: var(--pg-button-border-width, 1px) solid var(--pg-button-border-color, #453C4F);
  background-color: var(--pg-button-background-color, #FFFFFF);
  color: var(--pg-button-color, #453C4F);
  padding: var(--pg-button-padding, 0.25rem 0.5rem);
  border-radius: var(--pg-button-border-radius, 0.25rem);
  outline: none;
  --pg-icon-color: var(--pg-button-color, #453C4F);
  cursor: var(--pg-button-cursor, var(--pg-cursor-default, default));
  gap: var(--pg-button-gap, 0.325rem);
}

[part=button]:hover {
  --pg-button-border-color: var(--pg-button-hover-border-color, #453C4F);
  background-color: var(--pg-button-hover-background-color, #453C4F);
  color: var(--pg-button-hover-color, #FFFFFF);
  --pg-icon-color: var(--pg-button-hover-color, #FFFFFF);
}

[part=button]:active {
  box-shadow: 0 1px 0.25rem rgba(0, 0, 0, 0.5) inset;
  position: relative;
}

[part=button]:focus-visible {
  position: relative;
}

[part=button]:active::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: var(--pg-button-border-radius, 0.25rem);
  box-shadow: 0 0 0 3px var(--pg-focus-color, rgb(79, 143, 249, 0.6));
}
[part=button]:focus-visible::before {
  pointer-events: none;
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: var(--pg-button-border-radius, 0.25rem);
  box-shadow: 0 0 0 3px var(--pg-focus-color, rgb(79, 143, 249, 0.5));
}

[part=button].start {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}

[part=button].center {
  border-radius: 0;
  margin-right: -1px;
}

[part=button].end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[part=button].active {
  box-shadow: 0 1px 0.25rem rgba(0, 0, 0, 0.5) inset;
  background-color: rgba(69, 60, 79, 0.1);
  color: var(--pg-button-color, #453C4F);
}
[part=button].active:hover {
  box-shadow: 0 1px 0.25rem rgba(0, 0, 0, 0.5) inset;
  background-color: var(--pg-button-color, #453C4F);
  color: var(--pg-button-hover-color, #FFFFFF);
}

[part=button].block {
  flex: 1;
}

[part=button].brand {
  --pg-button-background-color: #453C4F;
  --pg-button-color: #FFFFFF;
}
[part=button].brand:hover {
  --pg-button-hover-background-color: color-mix(in oklab, var(--pg-button-background-color), white 10%);
  --pg-button-hover-border-color: color-mix(in oklab, var(--pg-button-background-color), white 10%);
}

::slotted {
  align-self: center;
}
