:host {
  position: absolute;
  display: grid;
  width: calc(anchor-size(width) + 0.5rem + var(--node-resize-delta-width, 0px));
  height: calc(anchor-size(height) + 0.5rem + var(--node-resize-delta-height, 0px));
  top: calc(anchor(top) - 0.25rem + var(--node-resize-delta-y, 0px));
  left: calc(anchor(left) - 0.25rem + var(--node-resize-delta-x, 0px));
  border: 0;
  background: transparent;
  --resize-radius: 0.25rem;
  grid-template-columns: 0.75rem auto 0.75rem;
  grid-template-rows: 0.75rem auto 0.75rem;
  --node-resize-outline: transparent;
  --node-resize-hover: #248BE5;
  pointer-events: none;
}

:host(.preview) {
  --node-resize-outline: rgba(36, 139, 229, 0.5);
}

[part=northWest] {
  width: 0.75rem;
  height: 0.75rem;
  grid-column: 1;
  grid-row: 1;
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  pointer-events: all;
}
[part=northWest]::before {
  content: ' ';
  display: flex;
  border-top-left-radius: var(--resize-radius);
  border-top: 2px solid var(--node-resize-outline);
  border-left: 2px solid var(--node-resize-outline);
  width: 0.375rem;
  height: 0.375rem;
}
[part=northWest]:hover::before {
  border-color: var(--node-resize-hover);
}
[part=north] {
  height: 0.5rem;
  grid-column: 2;
  grid-row: 1;
  padding-top: 0.25rem;
  pointer-events: all;
}
[part=north]::before {
  content: ' ';
  display: flex;
  border-top: 2px solid var(--node-resize-outline);
  height: 0.375rem;
}
[part=north]:hover::before {
  border-color: var(--node-resize-hover);
}
[part=northEast] {
  width: 0.75rem;
  height: 0.75rem;
  grid-column: 3;
  grid-row: 1;
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  pointer-events: all;
}
[part=northEast]::before {
  content: ' ';
  display: flex;
  border-top-right-radius: var(--resize-radius);
  border-top: 2px solid var(--node-resize-outline);
  border-right: 2px solid var(--node-resize-outline);
  width: 0.375rem;
  height: 0.375rem;
}
[part=northEast]:hover::before {
  border-color: var(--node-resize-hover);
}
[part=west] {
  width: 0.5rem;
  grid-column: 1;
  grid-row: 2;
  padding-left: 0.25rem;
  pointer-events: all;
}
[part=west]::before {
  content: ' ';
  display: flex;
  border-left: 2px solid var(--node-resize-outline);
  width: 0.375rem;
  height: 100%;
}
[part=west]:hover::before {
  border-color: var(--node-resize-hover);
}
[part=east] {
  width: 0.5rem;
  grid-column: 3;
  grid-row: 2;
  padding-right: 0.25rem;
  pointer-events: all;
}
[part=east]::before {
  content: ' ';
  display: flex;
  border-right: 2px solid var(--node-resize-outline);
  width: 0.375rem;
  height: 100%;
}
[part=east]:hover::before {
  border-color: var(--node-resize-hover);
}
[part=southWest] {
  width: 0.5rem;
  height: 0.5rem;
  grid-column: 1;
  grid-row: 3;
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
  pointer-events: all;
}
[part=southWest]::before {
  content: ' ';
  display: flex;
  border-bottom-left-radius: var(--resize-radius);
  border-bottom: 2px solid var(--node-resize-outline);
  border-left: 2px solid var(--node-resize-outline);
  width: 0.375rem;
  height: 0.375rem;
}
[part=southWest]:hover::before {
  border-color: var(--node-resize-hover);
}
[part=south] {
  height: 0.5rem;
  grid-column: 2;
  grid-row: 3;
  pointer-events: all;
  padding-bottom: 0.25rem;
}
[part=south]::before {
  content: ' ';
  display: flex;
  border-bottom: 2px solid var(--node-resize-outline);
  height: 0.375rem;
}
[part=south]:hover::before {
  border-color: var(--node-resize-hover);
}
[part=southEast] {
  width: 0.5rem;
  height: 0.5rem;
  grid-column: 3;
  grid-row: 3;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  pointer-events: all;
}
[part=southEast]::before {
  content: ' ';
  display: flex;
  border-bottom-right-radius: var(--resize-radius);
  border-bottom: 2px solid var(--node-resize-outline);
  border-right: 2px solid var(--node-resize-outline);
  width: 0.375rem;
  height: 0.375rem;
}
[part=southEast]:hover::before {
  border-color: var(--node-resize-hover);
}

[part=northWest].stop::before,
[part=north].stop::before,
[part=northEast].stop::before,
[part=west].stop::before,
[part=east].stop::before,
[part=southWest].stop::before,
[part=south].stop::before,
[part=southEast].stop::before {
  border-color: red;
}
