[part="debug"] {
  background: #555;
  padding: 1rem;
  display: flex;
}

[part="debug"] canvas {
  border: 1px solid #FFF;
}

[part="value1"] {
  word-wrap: break-word;
}

.props {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  flex-direction: column;
}

h3 {
  display: flex;
  margin: 0.25rem 0;
  font-size: 1.125rem;
  align-items: center;
}

[part=addColor],
[part=addLayer] {
  vertical-align: middle;
  margin-left: 0.5rem;
}