:host {
  display: inline-flex;
}

[part="wrapper"] {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  position: relative;
  outline: 0;
}

[part="wrapper"]:focus-visible::before {
  pointer-events: none;
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 0.125rem;
  box-shadow: 0 0 0 3px var(--pg-focus-color, rgb(79, 143, 249, 0.5));
}

canvas {
  grid-column: 1;
  grid-row: 1;
  touch-action: none;
  user-select: none;
  outline: 0;
}

svg {
  pointer-events: none;
  grid-column: 1;
  grid-row: 1;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
  stroke-dasharray: 5px;
  animation: stroke 0.4s linear infinite;
  shape-rendering: geometricPrecision;
  stroke-dashoffset: 10px;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}