:host {
  display: contents;
}

[part=container] {
  --pg-json-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-family: var(--pg-json-font-family);
  user-select: none;
}