:host {
  display: contents;
}

[part=items] {
  display: flex;
  flex-direction: column;
  padding: var(--pg-menu-padding, 0.25rem);
  border-width: var(--pg-menu-border-width, 0);
  border-style: solid;
  border-radius: 0.5rem;
  background-color: var(--pg-menu-background-color, #1E1E1E);
}
