:host {
  display: block;
  font-family: var(--pg-font-family, system-ui);
}

[part=input] {
  border: 1px solid var(--pg-input-text-border-color, #453C4F);
  border-radius: 0.125rem;
  padding-inline-start: var(--pg-input-text-padding-inline, var(--pg-input-text-padding-inline-start, 0.5rem));
  padding-inline-end: var(--pg-input-text-padding-inline, var(--pg-input-text-padding-inline-end, 0.5rem));
  padding-block-start: var(--pg-input-text-padding-block, var(--pg-input-text-padding-block-start, 0.25rem));
  padding-block-end: var(--pg-input-text-padding-block, var(--pg-input-text-padding-block-start, 0.25rem));
  font-family: var(--pg-input-text-font-family, var(--pg-font-family));
  font-size: 1rem;
  outline: none;
  field-sizing: content;
  min-width: calc(100% - 1rem - 2px);
  max-width: calc(var(--pg-input-text-max-width, 100%) - 1.5rem - 2px);
  background-color: transparent;
}

[part=input]:read-only {
  border-color: transparent;
}

[part=input]:active {
  box-shadow: 0 0 0 3px var(--pg-input-text-active-glow, rgb(79, 143, 249, 0.6));
}
[part=input]:focus {
  box-shadow: 0 0 0 3px var(--pg-input-text-focus-glow, rgb(79, 143, 249, 0.5));
}