:host {
  display: contents;
}

:host(:first-child) [part=label] {
  border-top-left-radius: 0.25rem;
}

:host(:last-child) [part=label] {
  border-top-right-radius: 0.25rem;
}

:host(:not(:first-child)) [part=label] {
  border-left: 0;
}

[part=label] {
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  border-color: var(--pg-table-border-color, #453C4F);
  padding: 0.125rem 0.5rem;
}
