:host {
  display: block;
}

[part="label"] {
  display: grid;
  grid-template-columns: 1.5rem auto;
  grid-template-rows: auto;
  font-family: var(--pg-font-family, system-ui);
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid var(--pg-button-border-color, #453C4F);
  background-color: var(--pg-button-background-color, #fff);
  color: var(--pg-button-color, #453C4F);
  padding: var(--pg-button-padding, 0.25rem 0.5rem);
  border-radius: 0.25rem;
  outline: none;
  --pg-icon-color: var(--pg-button-color, #453C4F);
}

[part="label"]:hover {
  border: 1px solid var(--pg-button-hover-border-color, #453C4F);
  background-color: var(--pg-button-hover-background-color, #453C4F);
  color: var(--pg-button-hover-color, #fff);
  --pg-icon-color: var(--pg-button-hover-color, #fff);
}

[part="label"]:active {
  box-shadow: 0 1px 0.25rem rgba(0, 0, 0, 0.5) inset;
  position: relative;
}

[part="label"]:focus {
  position: relative;
}

[part="label"]:active::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 3px var(--pg-focus-color, rgb(79, 143, 249, 0.6));
}

[part="label"]:focus::before {
  pointer-events: none;
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 3px var(--pg-focus-color, rgb(79, 143, 249, 0.5));
}

[part="file"] {
  width: 100%;
  border: 0;
  outline: 0;
  height: 1.5rem;
  grid-row: 1;
  grid-column: 1 / span 2;
  visibility: hidden;
}

[part="icon"] {
  grid-row: 1;
  grid-column: 1;
  transform: translate(-0.25rem, 0.075rem);
  pointer-events: none;
}

[part="text"] {
  grid-row: 1;
  grid-column: 2;
  pointer-events: none;
}