:host {
  display: contents;
}

[part="overlay"] {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  overflow: visible;
  --pg-menu-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.25);
  top: anchor(top);
  left: anchor(left);
  min-width: 10rem;
  translate: var(--pg-overlay-menu-_x, 0) var(--pg-overlay-menu-_y, 0);
}