:host {
  display: contents;
}

[part="overlay"] {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  overflow: visible;
  --pg-menu-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.25);
  top: anchor(top);
  left: calc(anchor(right) + 0.25rem);
  min-width: calc(anchor-size(width) + calc(2 * var(--pg-menu-padding, 0.25rem)));
  margin: var(--pg-overlay-menu-_y, 0) 0 0 var(--pg-overlay-menu-_x, 0);
}