<div class="backdrop">
  <div class="dialog"
    role="dialog"
    id="dialog1"
    aria-labelledby="dialog_label"
    aria-modal="true">
    <header part="header">
      <h2 id="dialog_label"
        class="dialog_label"
        part="headerText">
        Add Delivery Address
      </h2>
    </header>
    <main>
      <p part="message"></p>
    </main>
    <footer>
      <pg-button part="no">No</pg-button>
      <pg-button part="yes" variant="brand">Yes</pg-button>
    </footer>
  </div>
</div>