:host {
  display: block;
  font-family: var(--pg-font-family, system-ui);
}

div.wrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 0.25rem;
}

div.labelAdd {
  display: flex;
  flex-direction: row;
}

[part=label] {
  flex: 1;
  font-size: 0.625rem;
  line-height: 1rem;
  padding-inline: 0.25rem;
  color: rgba(255, 255, 255, 0.8);
}

[part=inputs] {
  display: flex;
  flex-direction: column;
}

[part=inputs] > *:first-child:not(:only-child) {
  --pg-node-input-text-border-top-right-radius: 0;
  --pg-node-input-text-border-bottom-left-radius: 0;
  --pg-node-input-text-border-bottom-right-radius: 0;
}
[part=inputs] > *:not(:last-child):not(:first-child):not(:only-child) {
  --pg-node-input-text-border-top-left-radius: 0;
  --pg-node-input-text-border-top-right-radius: 0;
  --pg-node-input-text-border-bottom-left-radius: 0;
  --pg-node-input-text-border-bottom-right-radius: 0;
}
[part=inputs] > *:last-child:not(:only-child) {
  --pg-node-input-text-border-top-left-radius: 0;
  --pg-node-input-text-border-top-right-radius: 0;
}

[part=inputs] > *:only-child {
  --pg-node-input-text-border-top-right-radius: 0;
}

[part=add] {
  border: 0;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  line-height: 0.625rem;
  font-size: 0.875rem;
  text-align: center;
  outline: 1px solid #444;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  padding-block: 0;
  padding-inline: 0.125rem;
}

[part=add]:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: 1px solid #666;
}
