:host {
  display: contents;
}

[part=label] {
  text-align: var(--pg-menu-item-text-align, left);
  background: var(--pg-menu-item-background, #FFFFFF);
  padding: var(--pg-menu-padding, 0.25rem 0.5rem);
  border-color: #453C4F;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: var(--pg-menu-item-border-radius-top, 0);
  border-top-right-radius: var(--pg-menu-item-border-radius-top, 0);
  border-bottom-left-radius: var(--pg-menu-item-border-radius-bottom, 0);
  border-bottom-right-radius: var(--pg-menu-item-border-radius-bottom, 0);
}