:host {
  display: inline-flex;
}

[part=table] {
  display: table;
  border-spacing: 2px;
}

[part=header] {
  display: table-header-group;
}

[part=columns] {
  display: table-row;
}

[part=rows] {
  display: table-row-group;
}