:host {
  display: flex;
  flex: 1;
}

[part=grid] {
  position: relative;
  flex: 1;
  overflow: auto;
  background: #0a0c14;
  background-image: linear-gradient(#1a1d2e 1px, transparent 1px), linear-gradient(90deg, #1a1d2e 1px, transparent 1px);
  background-size: 1rem 1rem;
  background-attachment: local;
  user-select: none;
}

[part=grid].selecting {
  cursor: default;
}

[part=grid]:hover {
  background-image: linear-gradient(#262b44 1px, transparent 1px), linear-gradient(90deg, #262b44 1px, transparent 1px);
}

[part=forceScroll] {
  position: absolute;
  left: 60rem;
  top: 40rem;
  width: 1rem;
  height: 1rem;
}

[part=svg] {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 60rem;
  height: 40rem;
}

[part=svg] path {
  pointer-events: stroke;
}

[part=svg] circle {
  pointer-events: all;
}

[part=selection] {
  position: absolute;
  display: none;
  border: 1px solid #248BE5;
  background: rgba(36, 139, 229, 0.1);
  pointer-events: none;
  box-sizing: border-box;
  z-index: 1;
}

[part=selection].active {
  display: block;
}
