:host {
  display: flex;
  flex: 1;
}

[part=items] {
  position: relative;
  flex: 1;
  overflow: auto;
  background: #0a0c14;
  background-image: linear-gradient(#1a1d2e 1px, transparent 1px), linear-gradient(90deg, #1a1d2e 1px, transparent 1px);
  background-size: 1rem 1rem;
  background-attachment: local;
}

[part=items]:hover {
  background-image: linear-gradient(#262b44 1px, transparent 1px), linear-gradient(90deg, #262b44 1px, transparent 1px);
}
