:host {
  display: flex;
}

[part=key],
[part=seperator] {
  display: inline-flex;
  align-items: center;
}

[part=value] {
  margin: 0 -0.25rem;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  padding: 0.125rem 0.25rem;
  vertical-align: middle;
  font-family: inherit;
  z-index: 1;
  position: relative;
}
