:host {
  display: contents;
}

.hide {
  display: none !important;
}

[part="button"] {
  display: flex;
  background: transparent;
  border: 0;
  color: #FFF;
  padding: 0;
  --pg-icon-color: #FFF;
  flex: 1;
  align-items: center
}

[part="input"] {
  flex: 1;
  outline: 0;
  padding: 0.125rem 0.25rem;
  border: 0;
}

[part="item"] {
  display: flex;
  background: var(--pg-tree-item-background, transparent);
  border-radius: 0.25rem;
}

[part="item"]:hover {
  background: var(--pg-tree-item-background-hover, #383838);
}

[part="item"].selected {
  background: var(--pg-tree-item-background-selected, #4B5876)
}

[part="actions"] {
  display: flex;
}

[part="items"] {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}