:host {
  display: contents;
}

[part=label] {
  display: table-cell;
  padding: 0.125rem 0.5rem;
  background-color: var(--pg-table-row-background-color);
  border-top: 0;
  border-radius: 0.125rem;
  vertical-align: middle;
}
