:host {
  display: contents;
}

[part=button] {
  font-family: var(--pg-font-family);
  text-align: left;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100% 0;
  border: 1px solid var(--pg-input-select-border-color, #453C4F);
  border-radius: 0.25rem;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  outline: 0;
}

[part=button]:focus {
  box-shadow: 0 0 0 3px rgba(79, 143, 249, 0.5);
}

[part=label] {
  grid-row: 1;
  grid-column: 1;
  padding: 0.5rem 0.75rem;
}

[part=chevron] {
  grid-row: 1;
  grid-column: 2;
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  transform: translate(-2rem, 0);
}