:host {
  display: contents;
  --pg-tree-selected-primary: #453C4F;
  --pg-tree-selected-secondary: var(--pg-tree-item-background-selected, rgb(69, 60, 79, 0.1));
  --pg-tree-selected-secondary-hover: var(--pg-tree-item-background-selected, rgb(69, 60, 79, 0.2));
}
/*
--pg-tree-item-background-selected
*/
:host(:focus-within) {
  --pg-tree-selected-primary: rgb(79, 143, 249);
  --pg-tree-selected-secondary: rgba(79, 143, 249, 0.15);
  --pg-tree-selected-secondary-hover: rgba(79, 143, 249, 0.25);
}

[part=items] {
  display: flex;
  flex-direction: column;
  background: var(--pg-tree-background, transparent);
  padding: 0.25rem;
  gap: 0.25rem;
  --x: 0;
  --pg-_is-dragging: false;
}

[part=items].dragging {
  --pg-_is-dragging: true;
}