:host {
  display: contents;
}

[part=cell] {
  display: table-cell;
  background-color: var(--pg-table-row-background-color);
  --pg-input-text-padding-inline: 0.25rem;
  --pg-input-text-padding-block: 0.125rem;
  --pg-input-text-border-color: rgb(69, 60, 79, 0.5);
  vertical-align: middle;
}
