:host {
  display: contents;
  --y: calc(var(--x) + 1);
}

.hide {
  display: none !important;
}

[part=iconButton] {
  display: flex;
  background: transparent;
  border: 0;
  color: var(--pg-tree-item-color, #453C4F);
  padding: 0;
  --pg-icon-color: var(--pg-tree-item-color, #453C4F);
  align-items: center;
  font-family: var(--pg-font-family, system-ui);
  font-size: var(--pg-tree-item-font-size, 1rem);
}

[part=labelButton] {
  display: flex;
  background: transparent;
  border: 0;
  color: var(--pg-tree-item-color, #453C4F);
  --pg-icon-color: var(--pg-tree-item-color, #453C4F);
  flex: 1;
  align-items: center;
  font-family: var(--pg-font-family, system-ui);
  font-size: var(--pg-tree-item-font-size, 1rem);
  margin: -0.25rem -0.25rem -0.25rem -0.25rem;
  padding: 0 0.25rem 0 0.25rem;
}

[part=label] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

[part=input] {
  display: flex;
  font-family: var(--pg-font-family, system-ui);
  font-size: var(--pg-tree-item-font-size, 1rem);
  border-radius: 0.125rem;
  flex: 1;
  outline: 0;
  padding: 0 0.25rem;
  margin: -0.125rem -0.625rem -0.125rem -0.25rem;
  border-width: var(--pg-tree-item-border-width, 0);
  border-style: solid;
  border-color: var(--pg-tree-item-border-color, #453C4F);
}

[part=item] {
  display: grid;
  background: var(--pg-tree-item-background, transparent);
  border-radius: 0.25rem;
  padding: 0.25rem;
  gap: 0 0.5rem;
  user-select: none;
  padding-left: calc((var(--x) * 0.5rem) + 0.25rem);
  transition: background-color 0.1s ease-out;
}

[part=item] {
  grid-template-columns: min-content min-content minmax(0, 1fr) min-content;
  grid-template-rows: auto;
}
[part=item] [part=selected] {
  grid-row: 1;
  grid-column: 1;
}
[part=item] [part=toggle] {
  grid-row: 1;
  grid-column: 1;
}
[part=item] [part=iconButton] {
  grid-row: 1;
  grid-column: 2;
}
[part=item] [part=labelButton] {
  grid-row: 1;
  grid-column: 3;
}
[part=item] [part=actions] {
  grid-row: 1;
  grid-column: 4;
}
[part=item] [part=dropabove] {
  grid-row: 1;
  grid-column: 1 / 5;
  align-self: flex-start;
  transform: translateY(-0.875rem);
  height: 1rem;
  margin: 0 -0.25rem 0 -0.25rem;
  z-index: 1;
}
[part=item] [part=dropon] {
  grid-row: 1;
  grid-column: 1 / 5;
  margin: 0.125rem -0.25rem;
  z-index: 1;
}
[part=item]:not(.items) [part=dropon] {
  display: none;
}
[part=item].items.expanded [part=dropbelow] {
  display: none;
}
[part=item] [part=dropbelow] {
  grid-row: 1;
  grid-column: 1 / 5;
  align-self: flex-end;
  transform: translateY(0.875rem);
  height: 1rem;
  margin: 0 -0.25rem 0 -0.25rem;
  z-index: 1;
}

[part=item]:not(.selected):not(.dragging):hover {
  background: var(--pg-tree-selected-secondary, rgb(69, 60, 79, 0.1));
}
[part=item].selected:not(.dragging):hover {
  background: var(--pg-tree-selected-secondary-hover, rgb(69, 60, 79, 0.1));
}
[part=item].selected,
[part=item].items.selected {
  background-color: var(--pg-tree-selected-secondary);
}
[part=item].items.selected:not(.expanded):not(.dragging) [part=toggle] {
  border-radius: 0.125rem;
  background-color: var(--pg-tree-selected-primary);
  background-image: url("data:image/svg+xml; utf8, <svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27><path d=%27M 17,13L 17,11L 11,5L 9,7L 14,12L 9,17L 11,19%27 fill='white' /></svg>") !important;
}

[part=item].items.selected.expanded:not(.dragging) [part=toggle] {
  border-radius: 0.125rem;
  background-color: var(--pg-tree-selected-primary);
  background-image: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M 11,17L 13,17L 19,11L 17,9L 12,14L 7,9L 5,11' fill='white' /></svg>") !important;
}

[part=item].items [part=selected] {
  display: none;
}

[part=item]:not(.items) [part=selected] {
  visibility: hidden;
  display: flex;
  width: 1rem;
  margin-left: -0.125rem;
  margin-right: -0.375rem;
  margin-top: -0.125rem;
  margin-bottom: -0.125rem;
  border-radius: 0.125rem;
  background: var(--pg-tree-selected-primary);
}

[part=item]:not(.dragging):not(.items).selected [part=selected] {
  visibility: visible;
}

[part=actions] {
  display: flex;
  gap: 0.25rem;
  --pg-icon-color: var(--pg-tree-item-color, #453C4F);
}

[part=items] {
  display: none;
  flex-direction: column;
  --x: calc(var(--y) + 1);
  gap: 0.25rem;
}
[part=items].expanded {
  display: flex;
}

[part=toggle] {
  display: none;
  margin-left: -0.125rem;
  margin-right: -0.375rem;
  margin-top: -0.125rem;
  margin-bottom: -0.125rem;
  padding: 0 0 0 1rem;
  width: 1rem;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

[part=toggle]:hover {
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.125rem;
}

[part=item].items:not(.expanded) [part=toggle] {
  display: flex;
  background-image: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M 17,13L 17,11L 11,5L 9,7L 14,12L 9,17L 11,19' fill='rgb(69 60 79)' /></svg>");
}

[part=item].items.expanded [part=toggle] {
  display: flex;
  background-image: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M 11,17L 13,17L 19,11L 17,9L 12,14L 7,9L 5,11' fill='rgb(69 60 79)' /></svg>");
}

[part=dropabove].drop::before,
[part=dropbelow].drop::before {
  content: ' ';
  height: 0.25rem;
  background-color: rgb(79, 143, 249);
  border-radius: 0.125rem;
  display: flex;
  margin-top: 0.375rem;
}

[part=dropon].drop {
  margin: -0.25rem !important;
  border: 4px solid rgb(79, 143, 249);
  border-radius: 0.25rem;
}

[part=item].dragging::after {
  content: ' ';
  display: flex;
  grid-column: 1 / 5;
  grid-row: 1;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.5);
  user-select: none;
  margin: -0.25rem;
  border: 2px dashed rgb(79, 143, 249);
}
[part=items].dragging {
  --pg-_is-index-dragging: true;
}
[part=item].dragging [part=dropabove],
[part=item].dragging [part=dropon],
[part=item].dragging [part=dropbelow] {
  display: none;
}

@container style(--pg-_is-dragging: false) {
  [part=dropabove],
  [part=dropon],
  [part=dropbelow] {
    display: none;
  }
}

@container style(--pg-_is-index-dragging: true) {
  [part=item]::after {
    content: ' ';
    display: flex;
    grid-column: 1 / 5;
    grid-row: 1;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.5);
    user-select: none;
    margin: -0.25rem;
  }
  [part=dropabove],
  [part=dropon],
  [part=dropbelow] {
    display: none;
  }
}
