:host {
  display: block;
  font-family: var(--pg-font-family, system-ui);
}

label {
  display: flex;
  flex-direction: column;
  padding-inline: 0.25rem;
}

[part=label] {
  font-size: 0.625rem;
  line-height: 1rem;
  padding-inline: 0.25rem;
  color: rgba(255, 255, 255, 0.8);
}

[part=input] {
  border: 0;
  border-radius: 0.125rem;
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.25rem;
  padding-block-start: 0;
  padding-block-end: 0;
  font-family: var(--pg-input-text-font-family, var(--pg-font-family));
  font-size: 0.75rem;
  line-height: 1rem;
  outline: none;
  min-width: 100%;
  max-width: 100%;
  background-color: #2B2B2B;
  color: #FFF;
  outline: 1px solid #444;
}

[part=input]:active {
  outline-color: rgb(79, 143, 249, 0.75);
}
[part=input]:focus {
  outline-color: rgb(79, 143, 249, 0.75);
}
