:host {
  display: contents;
}

[part="overlay"] {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  overflow: visible;
  --pg-menu-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.25);
  top: calc(anchor(top) - 0.25rem);
  left: calc(anchor(right) - 0.25rem);
  min-width: 10rem;
  translate: var(--pg-overlay-menu-_x, 0) var(--pg-overlay-menu-_y, 0);
  position-try-fallbacks: --custom-right, --custom-left;
  inset: auto;
}

@position-try --custom-right {
  top: calc(anchor(top) - 0.25rem);
  left: calc(anchor(right) - 0.25rem);
}

@position-try --custom-left {
  top: calc(anchor(top) - 0.25rem);
  left: calc(anchor(left) - anchor-size(width) + 0.25rem);
}