[part="debug"] {
  background: #555;
  padding: 1rem;
  display: flex;
}

[part="debug"] canvas {
  border: 1px solid #FFF;
}

.props {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  flex-direction: column;
}