:host {
  display: contents;
}

[part=label] {
  display: table-cell;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: var(--pg-table-border-color, #453C4F);
  padding: 0.125rem 0.5rem;
  font-weight: 600;
}
